*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.header {
  background: rgba(94, 93, 88, 0.6);
  width: 100%;
  position: absolute;
}

.header .container {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  line-height: 48px;
  color: white;
  cursor: pointer;
  padding-top: 21px;
  align-self: flex-start;
}

.logo-h {
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  text-transform: uppercase;
  background-image: url("../img/logo-background.png");
  background-repeat: no-repeat;
  padding: 18px 14px;
  margin-right: 4px;
}

.logo-ham {
  font-weight: 700;
  color: #18CFAB;
  text-transform: capitalize;
}

nav {
  display: flex;
}

.main-menu {
  margin-left: auto;
}

.main-menu-list {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 45px;
}

.main-menu-item {
  margin-left: 25px;
  transition: color .2s, border-bottom-color .2s;
  padding-bottom: 47px;
  border-bottom-color: transparent;
}

.main-menu-item:hover {
  color: #18CFAB;
  border-bottom: 2px solid;
  border-bottom-color: #18CFAB;
}

.search-button {
  margin-left: 27px;
  background-image: url("../img/search-icon.png");
  background-position: 0%;
  background-color: transparent;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 45px;
}


.banner {
  background-image: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("../img/sections-bg/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 376px 16px 243px;
  margin-bottom: 8px;
}

.banner .container {
  display: grid;
  justify-content: center;
  text-align: center;
}

h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.greet-text {
  color: #18CFAB;
}

.white-text {
  color: white;
}

.slogan {
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.cta-text {
  font-size: 34px;
  text-transform: capitalize;
  color: rgba(207, 205, 192, 0.6);
  margin-bottom: 130px;
}

.banner-buttons {
  display: flex;
  color: white;
  font-size: 15px;
  line-height: 32px;
  justify-content: center;
}

.explore-button,
.purchase-button {
  padding: 16px 22px 14px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  box-shadow: 0px -5px white;
  transition: transform, box-shadow .2s ease;
}

.explore-button:active,
.purchase-button:active {
  transform: translateY(-3px);
  box-shadow: 0px -3px white;
}

.explore-button {
  background-color: #18CFAB;
  margin-right: 36px;
}
.purchase-button {
  background-color: #00CBF6;
}

.fetures-list {
  display: flex;
}

.feature {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 233px 20px 103px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.themes.feature,
.support.feature {
  background-color: #1C2A33;
  color: #18CFAB;
}

.customizable.feature,
.responsive.feature {
  background-color: #18CFAB;
  color: white;
}

.feature::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 86px;
}

.themes.feature::before {
  content: url("../img/icons/hand-icon.png");
}
.customizable.feature::before {
  content: url("../img/icons/diamond-icon.png");
}
.support.feature::before {
  content: url("../img/icons/lamp-icon.png");
}
.responsive.feature::before {
  content: url("../img/icons/devices-icon.png");
}


.services {
  padding-top: 90px;
  padding-bottom: 85px;
}

.h2-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #4E4E4E;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 101px;
  position: relative;
}

.h2-title::after {
	content: "";
	display: block;
	width: 88px;
  height: 5px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-image: linear-gradient(10deg,transparent 20%,#18CFAB 20% 80%, transparent 80% 100%) 3 ;
  position: absolute;
  left: 50%;
  top: 66px;
  transform: translateX(-50%);
}

.tabs {
  display: flex;
  margin-bottom: 28px;
}

.tabs-title {
  flex-grow: 1;
  color: #717171;
  font-size: 16px;
  border: 1px solid #EDEFEF;
  background-color: #F8FCFE;
  padding: 25px 16px;
  text-align: center;
}

.tabs-title:hover {
  border-color: #18CFAB;
}

.tabs-title.active {
  background-color: #18CFAB;
  color: white;
  border-color: #18CFAB;
  position: relative;
}

.tabs-title.active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 10px);
  border-top: 10px solid #18CFAB;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tabs-img {
  float: left;
  margin-right: 15px;
}

.tabs-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}



.cta-section {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8) ), url("../img/sections-bg/cta-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 127px 16px 127px;
  margin-bottom: 5px;
}

.cta-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #18CFAB;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.cta-phrase {
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  text-transform: capitalize;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 67px;
}

.work {
  padding-top: 91px;
  padding-bottom: 100px;
  background-color: #E9EDEF;
}

.work .h2-title {
  margin-bottom: 96px;
}

.filters-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 71px;
}

.filter-button {
  font-size: 14px;
  line-height: 42px;
  padding: 7px 23px 6px;
  border: 1px solid#DADADA;
  outline: none;
  background-color: rgba(0, 0, 0, 0.0001);;
}

.filter-button.active {
  border: 2px solid #18CFAB;
  color: #18CFAB
}

.works-images-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 211px;
  margin-bottom: 57px;
}

.work-item {
  display: flex;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.work-item:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color:#E9EDEF;
  transform: rotateY(180deg);
  border-top: 2px solid #18CFAB;
  background-color: #E9EDEF;
  display: grid;
  align-content: start;
  justify-content: center;
  padding-top: 44px;
}

.backside-buttons {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
}

.backside-buttons .backside-button-link,
.backside-buttons .backside-button-square {
  display: flex;
  outline: none;
  border: 1px solid #18CFAB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.backside-button-link {
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backside-button-link:hover {
  background-color: #18CFAB;
}

.backside-button-link svg {
  fill: #18CFAB;
}

.backside-button-link:hover svg {
  fill: white;
}

.backside-button-square {
  background-color: transparent;
  position: relative;
}

.backside-button-square:hover {
  background-color: #18CFAB;
}

.backside-button-square::before {
  content: "";
  width: 12px;
  height: 12px;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  background-color:  #18CFAB;
  position: absolute;
}

.backside-button-square:hover::before {
  background-color:  white;
}

.backside-text {
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #18CFAB;
}

.backside-subtext {
  font-size: 12px;
  line-height: 19px;
  text-transform: capitalize;
  font-weight: 300;
  color: #8A8A8A;
}

.load-more-button {
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 11px 28px 8px 52px;
  font-size: 14px;
  line-height: 42px;
  font-weight: 700;
  background-color: #18CFAB;
  color: white;
  text-transform: uppercase;
  position: relative;
  display: grid;
  margin: auto;
  cursor: pointer;
}

.load-more-button.loading {
  cursor: auto;
}

.load-more-button.ready::before {
  content: url("../img/icons/load-btn-plus.png");
  position: absolute;
  left: 24px;
  top: 14px;
}
.load-more-button.loading::before {
  content: url("../img/icons/preloader-custom.svg");
  background-color: transparent;
  position: absolute;
  left: 14px;
  top: 14px;
}

.news {
  padding: 82px 16px 145px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  row-gap: 56px;
}

.news-item {
  display: grid;
  justify-content: center;
  text-align: left;
  position: relative;
}

.news-date {
  position: absolute;
  right: 0;
  padding: 11px 18px 18px;
  background-color: #203E38;
  color: white;
  display: grid;
  text-align: center;
  transition: background-color .3s;
}

.news-item:hover .news-date{
  background-color: #18CFAB;
}

.date {
  margin-bottom: 4px;
}



.news-preview-title {
  padding-left: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
  transition: background-color .3s;
}

.news-item:hover .news-preview-title {
  color: #18CFAB
}

.preview-description {
  padding-left: 14px;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.news-author {
  margin-right: 40px;
  position: relative;
}
.news-author::after {
  content: "|";
  position: absolute;
  right: -20px;
}

.reviews {
  padding: 96px 16px 77px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/sections-bg/reviews-bg.jpg");
  background-position: center;
  background-size: cover;
}

.reviews .h2-title {
  margin-bottom: 163px;
}

.reviews-title {
  color: white;
}

.review-authors-list {
  perspective: 300px;
}

.reviews-positions-list {
  perspective: 300px;
}

.review-texts-list {
  position: relative;
  margin-bottom: 27px;
  perspective: 1000px;
}

.review-texts-list::before {
  content: url("../img/icons/reviews-quotes.svg");
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}

.review-text-item {
  display: none;
  transform-style: preserve-3d;
}
.review-text-item.active-item,
.review-author-item.active-item,
.review-position-item.active-item,
.enlarged-photo-item.active-item {
  display: flex;
  justify-content: center;
  animation: showItem .8s ease-in;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}

.review-text-item.hidden-item,
.review-author-item.hidden-item,
.review-position-item.hidden-item,
.enlarged-photo-item.hidden-item {
  display: flex;
  justify-content: center;
  animation: hideItem .8s ease-in;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}

@keyframes showItem {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes hideItem {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.review-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #BBBBBB;
  text-align: center;
}

.review-author-item {
  display: none;
  transform-style: preserve-3d;
  margin-bottom: 11px;
}

.reviewer-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #18CFAB;
  text-transform: uppercase;

}


.review-position-item {
  display: none;
  transform-style: preserve-3d;
  margin-bottom: 14px;
}

.reviewer-position {
  color: #BBBBBB;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 12px;
}

.enlarged-photo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
  perspective: 300px;
}

.enlarged-photo-item {
  border: 11px solid rgba(11, 102, 39, 0.5);
  border-radius: 50%;
  display: none;
  transform-style: preserve-3d;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  width: 403px;
  padding: 20px 0 20px;
  overflow: hidden;
  justify-content: start;
  position: relative;
}

#slider {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: -116px;
}

.slider-item {
  margin-right: 38px;
  display: flex;
  border: 6px solid rgba(11, 102, 39, 0.5);
  border-radius: 50%;
}

.slider-transition {
  transition: transform .5s ease-in-out;
}

.lifted-item {
  animation: lift .5s ease;
  animation-fill-mode: forwards;
}

@keyframes lift {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.put-down {
  animation: down .5s ease;
  animation-fill-mode: forwards;
}

@keyframes down {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#prev-btn,
#next-btn {
  width: 31px;
  height: 31px;
  background-color: transparent;
  border: 1px solid #BBBBBB;
  position: relative;
  outline: none;
  transition: background-color .2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#prev-btn {
  margin-right: 35px;
}
#next-btn {
  margin-left: 35px;
}
#prev-btn:hover,
#next-btn:hover {
  background-color: #18CFAB;
  border: 1px solid#18CFAB;
}
.next-btn-svg,
.prev-btn-svg {
  fill: #BBBBBB;
  transition: fill 0.2s;
}
#next-btn:hover .next-btn-svg,
#prev-btn:hover .prev-btn-svg {
  fill: white;
}


.best-images {
  padding: 109px 0 70px;
}

.best-images .h2-title {
  text-transform: capitalize;
  margin-bottom: 115px;
}

.grid {
  max-width: 1200px;
  margin-bottom: 20px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 373px;
}

.grid-item {
  margin-bottom: 20px;
  display: flex;
}

.grid-item--width img,
.grid-item--width-2 img,
.grid-item--width-3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item--width {
  width: 370px;
}

.grid-item--width-2 {
  width: 184px;
}

.grid-item--width-3 {
  width: 122px;
}

.grid-item--width-2 img,
.grid-item--width-3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-item.flex div {
  margin-bottom: 2px;
}

footer {
  background-color: #22353F;
}

.footer-text {
  display: block;
  text-align: center;
  padding: 45px;
  color: #AEAEAE;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}
